:root {
    --text-gray: #dde6e9;
    --text-gray-d: #a5a5a5;
}

.text-gray {
    color: var(--text-gray);
}

.text-gray-d {
    color: var(--text-gray-d);
}

table {
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: -2px;
    z-index: 2;
}

.role {
    z-index: 3;
}

th {
    background-color: #fff;
}

.user-name {
    width: 30%;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}